<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Rec</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>date</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="assets/img/profile.png" alt="" />
                        <p class="user-name">die</p>
                    </td>
                    <td>09-11-22</td>
                    <td ><span class="status pending">Pending</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>