<div class="table-data form-container">
    <div class="order">
        <div class="head">
            <h3>Member</h3>
        </div>

        <form [formGroup]="memeberForm">
            <div class="form first">
                <div class="details personal">
                    <div class="fields">
                        <div class="input-field">
                            <label>User Name</label>
                            <input type="text" formControlName="username" [maxlength]="30" class="form-control"
                                [ngClass]="{ 'is-invalid': formVale.username.touched && formVale.username.errors }" />
                            <div *ngIf="formVale.username.touched && formVale.username.errors" class="invalid-feedback">
                                <div *ngIf="formVale.username.errors.required">User Name is required</div>
                            </div>
                        </div>
                        <div class="input-field">
                            <label>Mobile No.</label>
                            <input type="text" formControlName="mobileno" (keypress)="numberOnly($event)"
                                [maxlength]="10" class="form-control"
                                [ngClass]="{ 'is-invalid': formVale.mobileno.touched && formVale.mobileno.errors }" />
                            <div *ngIf="formVale.mobileno.touched && formVale.mobileno.errors" class="invalid-feedback">
                                <div *ngIf="formVale.mobileno.errors.required">Mobile No. is required</div>
                            </div>
                        </div>
                        <div class="input-field">
                            <label>Age</label>
                            <input type="text" formControlName="age" class="form-control" [maxlength]="2"
                                (keypress)="numberOnly($event)"
                                [ngClass]="{ 'is-invalid': formVale.age.touched && formVale.age.errors }" />
                            <div *ngIf="formVale.age.touched && formVale.age.errors" class="invalid-feedback">
                                <div *ngIf="formVale.age.errors.required">Age is required</div>
                            </div>
                        </div>
                        <div class="input-field">
                            <label>Email ID</label>
                            <input type="text" formControlName="emailId" class="form-control"
                                [ngClass]="{ 'is-invalid': formVale.emailId.touched && formVale.emailId.errors }" />
                            <div *ngIf="formVale.emailId.touched && formVale.emailId.errors" class="invalid-feedback">
                                <div *ngIf="formVale.emailId.errors.required">Email is required</div>
                                <div *ngIf="formVale.emailId.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" formControlName="address" [maxlength]="100" class="form-control"
                                [ngClass]="{ 'is-invalid': formVale.address.touched && formVale.address.errors }" />
                            <div *ngIf="formVale.address.touched && formVale.address.errors" class="invalid-feedback">
                                <div *ngIf="formVale.address.errors.required">Address is required</div>
                            </div>
                        </div>
                        <div class="input-fields">
                            <label>Gender</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio-btn" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" [value]="1" formControlName="gender"
                                        [ngClass]="{ 'is-invalid': formVale.gender.touched && formVale.gender.errors }">
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio-btn" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" [value]="2" formControlName="gender"
                                        [ngClass]="{ 'is-invalid': formVale.gender.touched && formVale.gender.errors }">
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                </div>
                                <div *ngIf="formVale.gender.touched && formVale.gender.errors"
                                    class="invalid-feedback displacy-block">
                                    <div *ngIf="formVale.gender.errors.required">Gender is required</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="display-center">
                        <button class="nextBtn" type="button" (click)="cancelCreate()">
                            <span class="btnText">Cancel</span>
                        </button>
                        <button class="nextBtn m-l-10" type="button" (click)="createMember()">
                            <span class="btnText">Save</span>
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>