/* You can add global styles to this file, and also import other style files */

.display-center{
    align-content: center;
    justify-content: center;
    margin: 0;
}

.m-l-10{
    margin-left: 10px;
}

.m-t-50{
    margin-top: 50px;
}